:root {
    --primary-color: #FF7B54;
    --secondary-color: #FFFFFF;
    --primary-font: "Inter", sans-serif;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

a {
    color: inherit;
    text-decoration: none;
}